<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-US` }}">
{{ partial "head.html" . }}

<body>

  {{ partialCached "preloader.html" . }}
  {{ partial "header.html" . }}
  {{if and (not .IsHome) (ne .Section "blog") (ne .Permalink (`about/` | absURL)) (ne .Permalink (`search/` | absURL)) }}
  {{ partial "page-header.html" . }}
  {{end}}
  {{ block "main" . }}{{ end }}
  {{ partialCached "footer.html" . }}
  {{ partialCached "script.html" . }}
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMFPFX7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- crypto hopper ticker 2nd code snippet -->
<script src="https://www.cryptohopper.com/widgets/js/script"></script>
</body>

</html>
