{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <form action="{{site.Params.contact_form_action}}" method="POST">
          <div class="mb-4">
            <label for="name" class="form-label">Your Name</label>
            <input type="message" class="form-control rounded" id="name" placeholder="Satoshi Nakamoto" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" name="_replyto" class="form-control rounded" id="email" placeholder="hello@cryptotravellers.com" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">Subject</label>
            <input type="message" name="_subject" class="form-control rounded" id="subject" placeholder="Reason for Contact" required>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">Your Message Here</label>
            <textarea class="form-control rounded" name="message" id="message" rows="4" placeholder="Your Message" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary rounded" aria-label="Send Message">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>

{{ end }}
