<head>
  <link rel="manifest" href="/manifest.json">
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NMFPFX7');</script>
<!-- End Google Tag Manager -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6PZTFNKREN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6PZTFNKREN');
</script>

  <meta charset="utf-8">
  <title>{{ .Title }} - Cryptotravellers</title>
  <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
  <meta name="author" content="{{ site.Params.author }}">
  <meta name="description"
    content="{{ with .Params.description }} {{.}} {{else}} {{ with site.Params.description }} {{.}} {{end}} {{end}}">

  {{ "<!-- mobile responsive meta -->" | safeHTML}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

  {{ "<!-- Favicon -->" | safeHTML}}
  <link rel="icon" href="{{ site.Params.favicon | absURL }}" type="image/x-icon">

  {{ "<!-- CSS Plugins -->" | safeHTML}}
  {{ partialCached "style.html" . }}


  <!-- custom css -->
  {{$customstyle := resources.Get "/css/custom.css" }}
  <link rel="stylesheet" href="{{$customstyle.Permalink}}">
<meta name="fo-verify" content="e03d0fb1-abb3-490d-9e53-9eaf42a1ba13">
</head>
